body, html {
 scroll-behavior: smooth;
 height: 100%;
 margin: 0;
}

.pic1, .pic2, .pic3, .pic4{
 position: relative;
 opacity: .8;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.pic1{
 background-image: url("../img/raleigh_food_truck.jpg");
 min-height: 100%;
}
.pic2{
 background-image: url("../img/catering.jpeg");
 min-height: 400px;
}
.pic3{
 background-image: url("../img/baklava.jpg");
 min-height: 400px;
}

.section{
 text-align: center;
 padding: 50px 50px;
}
.section-light{
 background-color: #204742;
 color: white;
}
.section-dark{
 background-color: #b80033;
 color: black;
}
.ptext{
 position: absolute;
 top: 50%;
 width: 100%;
 text-align: center;
 color: #fff;
 font-size: 3em;
 letter-spacing: 8px;
 text-transform: uppercase;
}
.ptext .border{
 background-color: #204742;
 color: #efefeb;
 padding: 20px;
}

.pic4{
 background-image: url("../img/MolonLabe.jpg");
 min-height: 400px;

}

iframe{
 opacity: .7;
 width: 80vw;
 height: 80vh;
 padding-left: 10%;
}
/* .friends{
 width: 100vw;
 height: 25vh;
 background-color: blue;

}
.fpic1{

} */
