html{
 margin: 0;
 padding: 0;
}
body{
 margin-top: 15%;
}
#axes{
 height: 25vh;
 width: 25vw;
}

ul{

}
li{
 display: flex;
 text-align: center;
}
p{
 padding-left: 5vw;
 padding-right: 5vw;
}
button {
font-size: 1em;
}
button:hover{
 color: red;
}
#axes-logo{
 padding-right: 2vw;
}
h6{
 font-size: 4em;
 text-align: center;
}
